<a href="https://colab.research.google.com/github/ShivaHareesh80/Data_Science_workbook/blob/main/Preprocessing_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/Demand_txn_updated.csv'
df = pd.read_csv(url)
print(df)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978        7/31/2018
1      Hyderabad         Take Away              4064        7/31/2018
2      Hyderabad         Main Hall               965        7/31/2018
3      Hyderabad           Express              9978        7/31/2018
4      Hyderabad           Express              1045        7/31/2018
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056         8/1/2016
30227     Mumbai         Take Away              4058         8/1/2016
30228     Mumbai           Dine-in               964         8/1/2016
30229     Mumbai         Take Away              4066         8/1/2016
30230     Mumbai          Delivery              4061         8/1/2016

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30226                           0.99           27870.40
30227                           0.99           27870.40
30228                           0.94           27870.40
30229                           0.99           27870.40
30230                           0.89           27870.40

[30231 rows x 22 columns]

1. Read  the  demand  transaction  file and  print the first 15 rows and dtypes

In [ ]:
print(df.head(15))

         City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0   Hyderabad         Take Away              9978        7/31/2018
1   Hyderabad         Take Away              4064        7/31/2018
2   Hyderabad         Main Hall               965        7/31/2018
3   Hyderabad           Express              9978        7/31/2018
4   Hyderabad           Express              1045        7/31/2018
5   Hyderabad          Delivery              4056        7/31/2018
6   Hyderabad         Take Away              4065        7/31/2018
7   Hyderabad           Express              4058        7/31/2018
8   Hyderabad           Express              4057        7/31/2018
9   Hyderabad           Express              4056        7/31/2018
10  Hyderabad          Delivery              4061        7/31/2018
11  Hyderabad           Express              4055        7/31/2018
12  Hyderabad         Take Away              4061        7/31/2018
13  Hyderabad           Dine-in              9978        7/31/2018
14  Hyderabad           Dine-in               979        7/31/2018

    Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0             167         187.0                 0.05       163.700000
1             368         602.0                 0.05       584.329105
2             694         263.0                 0.05       244.835163
3             140         263.0                 0.05       243.500000
4             139         392.0                 0.05       378.960000
5             617         322.0                 0.05       305.354585
6             217         652.0                 0.05       651.958113
7             115         312.0                 0.05       294.960000
8             113         312.0                 0.05       294.960000
9             120         392.0                 0.05       378.955556
10            144         942.0                 0.05       942.631515
11            122         362.0                 0.05       347.458182
12            233         802.0                 0.05       809.456066
13            118         263.0                 0.05       243.500000
14            164        1222.0                 0.05      1250.460000

    Percent_Quantity_With_Discount  Avg_Discount_Percent_On_Discounted_Items  \
0                              NaN                                       NaN
1                         0.027237                                  1.050000
2                              NaN                                       NaN
3                              NaN                                       NaN
4                              NaN                                       NaN
5                         0.003953                                  0.105020
6                              NaN                                       NaN
7                              NaN                                       NaN
8                              NaN                                       NaN
9                              NaN                                       NaN
10                        0.151515                                  0.105006
11                             NaN                                       NaN
12                             NaN                                       NaN
13                             NaN                                       NaN
14                             NaN                                       NaN

    ...  Day  Car_sales F_and_B_Inflation  \
0   ...  Tue    7559.28             143.7
1   ...  Tue    7559.28             143.7
2   ...  Tue    7559.28             143.7
3   ...  Tue    7559.28             143.7
4   ...  Tue    7559.28             143.7
5   ...  Tue    7559.28             143.7
6   ...  Tue    7559.28             143.7
7   ...  Tue    7559.28             143.7
8   ...  Tue    7559.28             143.7
9   ...  Tue    7559.28             143.7
10  ...  Tue    7559.28             143.7
11  ...  Tue    7559.28             143.7
12  ...  Tue    7559.28             143.7
13  ...  Tue    7559.28             143.7
14  ...  Tue    7559.28             143.7

    F_and_B_Inflation_Adjusted_Effective_Price  \
0                                     0.832985
1                                     3.760119
2                                     1.397600
3                                     1.388309
4                                     2.330967
5                                     1.818751
6                                     4.230745
7                                     1.746416
8                                     1.746416
9                                     2.330936
10                                    6.253525
11                                    2.111748
12                                    5.326765
13                                    1.388309
14                                    8.395685

    F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                  0.793319                              0
1                                  3.681280                              0
2                                  1.322199                              0
3                                  1.322199                              0
4                                  2.219903                              0
5                                  1.732777                              0
6                                  4.029228                              0
7                                  1.663187                              0
8                                  1.663187                              0
9                                  2.219903                              0
10                                 6.047321                              0
11                                 2.011134                              0
12                                 5.073069                              0
13                                 1.322199                              0
14                                 7.995825                              0

    Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                              1                         0.86
1                              1                         0.83
2                              1                         1.08
3                              1                         0.78
4                              1                         0.73
5                              1                         0.82
6                              1                         0.86
7                              1                         0.70
8                              1                         0.72
9                              1                         0.84
10                             1                         0.75
11                             1                         0.71
12                             1                         0.82
13                             1                         0.85
14                             1                         0.86

    Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                            0.91           37307.52
1                            0.91           37307.52
2                            1.08           37307.52
3                            0.08           37307.52
4                            0.08           37307.52
5                            1.06           37307.52
6                            0.91           37307.52
7                            0.08           37307.52
8                            0.08           37307.52
9                            0.08           37307.52
10                           1.06           37307.52
11                           0.08           37307.52
12                           0.91           37307.52
13                           1.09           37307.52
14                           1.09           37307.52

[15 rows x 22 columns]

2. Convert the transaction date column to a date column using pd.to_datetime function

In [ ]:
df["Date"]= pd.to_datetime(df["Transaction_Date"])
print(df['Date'])

0       2018-07-31
1       2018-07-31
2       2018-07-31
3       2018-07-31
4       2018-07-31
           ...
30226   2016-08-01
30227   2016-08-01
30228   2016-08-01
30229   2016-08-01
30230   2016-08-01
Name: Date, Length: 30231, dtype: datetime64[ns]

3. Subset  the  dataframe  for  transaction  date  greater  than  '2016-08-01'

In [ ]:
df1= df[(df['Transaction_Date'] > '2016-08-01') ]
print(df1)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978        7/31/2018
1      Hyderabad         Take Away              4064        7/31/2018
2      Hyderabad         Main Hall               965        7/31/2018
3      Hyderabad           Express              9978        7/31/2018
4      Hyderabad           Express              1045        7/31/2018
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056         8/1/2016
30227     Mumbai         Take Away              4058         8/1/2016
30228     Mumbai           Dine-in               964         8/1/2016
30229     Mumbai         Take Away              4066         8/1/2016
30230     Mumbai          Delivery              4061         8/1/2016

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Car_sales  \
0                                           NaN  ...    7559.28
1                                      1.050000  ...    7559.28
2                                           NaN  ...    7559.28
3                                           NaN  ...    7559.28
4                                           NaN  ...    7559.28
...                                         ...  ...        ...
30226                                  0.883279  ...    8033.92
30227                                  1.144999  ...    8033.92
30228                                       NaN  ...    8033.92
30229                                       NaN  ...    8033.92
30230                                       NaN  ...    8033.92

       F_and_B_Inflation F_and_B_Inflation_Adjusted_Effective_Price  \
0                  143.7                                   0.832985
1                  143.7                                   3.760119
2                  143.7                                   1.397600
3                  143.7                                   1.388309
4                  143.7                                   2.330967
...                  ...                                        ...
30226              140.1                                   1.342138
30227              140.1                                   1.131876
30228              140.1                                   7.279483
30229              140.1                                   3.497930
30230              140.1                                   5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales       Date
0                               0.91           37307.52 2018-07-31
1                               0.91           37307.52 2018-07-31
2                               1.08           37307.52 2018-07-31
3                               0.08           37307.52 2018-07-31
4                               0.08           37307.52 2018-07-31
...                              ...                ...        ...
30226                           0.99           27870.40 2016-08-01
30227                           0.99           27870.40 2016-08-01
30228                           0.94           27870.40 2016-08-01
30229                           0.99           27870.40 2016-08-01
30230                           0.89           27870.40 2016-08-01

[17769 rows x 23 columns]

4. Look for unique  values  in  Mapped_Sales_Type

In [ ]:
k = df.Mapped_Sales_Type.unique()
print(k)

['Take Away' 'Main Hall' 'Express' 'Delivery' 'Dine-in' 'Bakery']

5. Subset  the entire dataframe, based on the below condition, to a new dataframe and work on the following questions

a. Condition: Avg_Discount_Percent_On_Discounted_Items should be less than 1.0

In [ ]:
df1= df[ (df['Avg_Discount_Percent_On_Discounted_Items'] < 1.0) ]
print(df1)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
5      Hyderabad          Delivery              4056        7/31/2018
10     Hyderabad          Delivery              4061        7/31/2018
20     Hyderabad           Dine-in               966        7/31/2018
24     Hyderabad           Dine-in               965        7/31/2018
26     Hyderabad          Delivery              4068        7/31/2018
...          ...               ...               ...              ...
30198     Mumbai         Take Away              4055         8/1/2016
30201     Mumbai           Dine-in               978         8/1/2016
30212     Mumbai           Dine-in               970         8/1/2016
30213     Mumbai           Dine-in               965         8/1/2016
30226     Mumbai         Take Away              4056         8/1/2016

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
5                617         322.0                 0.05       305.354585
10               144         942.0                 0.05       942.631515
20              1250         392.0                 0.05       378.840053
24              1934         362.0                 0.05       347.258327
26               148         622.0                 0.05       618.898649
...              ...           ...                  ...              ...
30198           1290         230.0                 0.15       222.456760
30201            213         989.0                 0.21      1135.791961
30212            534         273.0                 0.20       281.371135
30213           1410         317.0                 0.20       333.437775
30226            615         239.0                 0.14       232.033552

       Percent_Quantity_With_Discount  \
5                            0.003953
10                           0.151515
20                           0.003512
24                           0.001646
26                           0.027027
...                               ...
30198                        0.010178
30201                        0.009804
30212                        0.007092
30213                        0.004619
30226                        0.013889

       Avg_Discount_Percent_On_Discounted_Items  ...  Car_sales  \
5                                      0.105020  ...    7559.28
10                                     0.105006  ...    7559.28
20                                     0.105008  ...    7559.28
24                                     0.420000  ...    7559.28
26                                     0.105009  ...    7559.28
...                                         ...  ...        ...
30198                                  0.820589  ...    8033.92
30201                                  0.120502  ...    8033.92
30212                                  0.502083  ...    8033.92
30213                                  0.120492  ...    8033.92
30226                                  0.883279  ...    8033.92

       F_and_B_Inflation F_and_B_Inflation_Adjusted_Effective_Price  \
5                  143.7                                   1.818751
10                 143.7                                   6.253525
20                 143.7                                   2.330133
24                 143.7                                   2.110357
26                 143.7                                   4.000686
...                  ...                                        ...
30198              140.1                                   1.273781
30201              140.1                                   7.792948
30212              140.1                                   1.694298
30213              140.1                                   2.065937
30226              140.1                                   1.342138

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
5                                     1.732777                              0
10                                    6.047321                              0
20                                    2.219903                              0
24                                    2.011134                              0
26                                    3.820459                              0
...                                        ...                            ...
30198                                 1.120628                              1
30201                                 6.538187                              1
30212                                 1.427552                              1
30213                                 1.741613                              1
30226                                 1.184868                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
5                                 1                         0.82
10                                1                         0.75
20                                1                         0.92
24                                1                         0.89
26                                1                         0.64
...                             ...                          ...
30198                             0                         0.75
30201                             0                         0.79
30212                             0                         0.83
30213                             0                         0.83
30226                             0                         0.78

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales       Date
5                               1.06           37307.52 2018-07-31
10                              1.06           37307.52 2018-07-31
20                              1.09           37307.52 2018-07-31
24                              1.09           37307.52 2018-07-31
26                              1.06           37307.52 2018-07-31
...                              ...                ...        ...
30198                           0.99           27870.40 2016-08-01
30201                           0.94           27870.40 2016-08-01
30212                           0.94           27870.40 2016-08-01
30213                           0.94           27870.40 2016-08-01
30226                           0.99           27870.40 2016-08-01

[8902 rows x 23 columns]

b. Check for sanity if the new dataframe contains Avg_Discount_Percent_On_Discounted_Items greater than or equal to 1.0

In [ ]:
df2 = df1[(df1['Avg_Discount_Percent_On_Discounted_Items'] >= 1.0)]
print(df2)

Empty DataFrame
Columns: [City, Mapped_Sales_Type, Mapped_Item_Code, Transaction_Date, Quantity_Sold, Median_Price, Average_Tax_Percent, Effective_Price, Percent_Quantity_With_Discount, Avg_Discount_Percent_On_Discounted_Items, Year, Month, Day, Car_sales, F_and_B_Inflation, F_and_B_Inflation_Adjusted_Effective_Price, F_and_B_Inflation_Adjusted_Median_Price, First_Week_Of_The_Month_Dummy, Last_Week_Of_The_Month_Dummy, Day_Of_The_Week_Seasonality, Month_Of_The_Year_Seasonality, Two_Wheeler_sales, Date]
Index: []

[0 rows x 23 columns]

6. Groupby  'City', 'Mapped_Sales_Type',  'Mapped_Item_Code',  'Transaction_Date' and perform  following  aggregate  operations  on  respective  columns  as  mentioned (note: Only one groupby to do all the below aggregations)

a. Quantity_Sold – sum

In [ ]:
df1 =df.groupby(["City","Mapped_Sales_Type","Mapped_Item_Code","Transaction_Date"]).agg({"Quantity_Sold": ["sum"] })
print(df1)

                                                            Quantity_Sold
                                                                      sum
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             8/5/2017                   110
                          9978             1/22/2018                  105
        Delivery          4055             1/1/2018                   714
                                           1/10/2018                  567
                                           1/11/2018                  499
...                                                                   ...
Mumbai  Take Away         4068             9/5/2016                   200
                                           9/6/2016                   210
                                           9/7/2016                   209
                                           9/8/2016                   193
                                           9/9/2016                   256

[30231 rows x 1 columns]

b. Median_Price – median

In [ ]:
df1 =df.groupby(["City","Mapped_Sales_Type","Mapped_Item_Code","Transaction_Date"]).agg({"Median_Price" : ["median"]})
print(df1)

                                                            Median_Price
                                                                  median
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             8/5/2017                223.0
                          9978             1/22/2018               178.0
        Delivery          4055             1/1/2018                281.1
                                           1/10/2018               281.1
                                           1/11/2018               281.1
...                                                                  ...
Mumbai  Take Away         4068             9/5/2016                405.0
                                           9/6/2016                405.0
                                           9/7/2016                405.0
                                           9/8/2016                405.0
                                           9/9/2016                405.0

[30231 rows x 1 columns]

c. Effective_Price – median

In [ ]:
df1 =df.groupby(["City","Mapped_Sales_Type","Mapped_Item_Code","Transaction_Date"]).agg({"Effective_Price" : ["median"]})
print(df1)

                                                            Effective_Price
                                                                     median
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             8/5/2017              221.000000
                          9978             1/22/2018             154.250000
        Delivery          4055             1/1/2018              262.466899
                                           1/10/2018             262.359057
                                           1/11/2018             262.446314
...                                                                     ...
Mumbai  Take Away         4068             9/5/2016              424.140000
                                           9/6/2016              424.140000
                                           9/7/2016              424.140000
                                           9/8/2016              424.140000
                                           9/9/2016              424.140000

[30231 rows x 1 columns]

7. Display the data for Effective_Price = not null and just print the last 5 rows (hint:                 use .notnull function)

In [ ]:
a = df.Effective_Price.notnull()
print(a.tail(5))

30226    True
30227    True
30228    True
30229    True
30230    True
Name: Effective_Price, dtype: bool

8. Display  the data  for  city = Chennai  AND  Mapped_Sales_Type = Delivery  and  print  top  5 records (hint  use  loc  function  to  subset,  then “&”  operator  to  filter  both  the  above cities)

In [ ]:
a = df.loc[(df['City'] == 'Chennai') & (df['Mapped_Sales_Type'] == 'Delivery'),['City','Mapped_Sales_Type']]
print(a.head(5))

         City Mapped_Sales_Type
8379  Chennai          Delivery
8384  Chennai          Delivery
8387  Chennai          Delivery
8388  Chennai          Delivery
8392  Chennai          Delivery

9. Display  the  data  for  the  column “Day” with  values  Mon, Tue and Wed (hint: use .isin function)

In [ ]:
df2 = df['Day'].isin(['Mon','Tue','Wed'])
print(df2)

0        True
1        True
2        True
3        True
4        True
         ...
30226    True
30227    True
30228    True
30229    True
30230    True
Name: Day, Length: 30231, dtype: bool

10. Display the data for Percent_Quantity_With_Discount not equal to 0.0 (hint: loc function with != operator)

In [ ]:
a = df.loc[(df['Percent_Quantity_With_Discount'] != 0.0),['Percent_Quantity_With_Discount']]
print(a)

       Percent_Quantity_With_Discount
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

[30224 rows x 1 columns]

10. Add a column “Range” to the existing dataframe for below condition

a. 1 for Effective_Price > 500

b.0.5 otherwise

In [ ]:
df.loc[df['Effective_Price'] >500, 'Range'] = 1
df.loc[df['Effective_Price'] < 500, 'Range'] = 0.5 
print(df['Range'])

0        0.5
1        1.0
2        0.5
3        0.5
4        0.5
        ...
30226    0.5
30227    0.5
30228    1.0
30229    1.0
30230    1.0
Name: Range, Length: 30231, dtype: float64

11.Read the demand transaction file again and perform following operations for practice

Handle the missing values in the column Percent_Quantity_With_Discount with strategy = mean

In [ ]:
x = df['Percent_Quantity_With_Discount'].mean()
df['Percent_Quantity_With_Discount'] = df['Percent_Quantity_With_Discount'].fillna(x)
print(df['Percent_Quantity_With_Discount'])

0        0.098011
1        0.027237
2        0.098011
3        0.098011
4        0.098011
           ...
30226    0.013889
30227    0.009338
30228    0.098011
30229    0.098011
30230    0.098011
Name: Percent_Quantity_With_Discount, Length: 30231, dtype: float64