In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/Demand_txn_updated.csv'
df = pd.read_csv(url)
df

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.050000,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30226,Mumbai,Take Away,4056,8/1/2016,615,239.0,0.14,232.033552,0.013889,0.883279,...,Mon,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40
30227,Mumbai,Take Away,4058,8/1/2016,1289,212.8,0.14,202.575840,0.009338,1.144999,...,Mon,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.40
30228,Mumbai,Dine-in,964,8/1/2016,140,933.0,0.21,1063.855517,NaN,NaN,...,Mon,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.40
30229,Mumbai,Take Away,4066,8/1/2016,179,501.0,0.14,534.060000,NaN,NaN,...,Mon,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.40
30230,Mumbai,Delivery,4061,8/1/2016,117,716.5,0.15,780.810000,NaN,NaN,...,Mon,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.40

1. Read  the  demand  transaction  file and  print the first 15 rows and dtypes

In [2]:
df.head(15)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.050000,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52
5,Hyderabad,Delivery,4056,7/31/2018,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
6,Hyderabad,Take Away,4065,7/31/2018,217,652.0,0.05,651.958113,NaN,NaN,...,Tue,7559.28,143.7,4.230745,4.029228,0,1,0.86,0.91,37307.52
7,Hyderabad,Express,4058,7/31/2018,115,312.0,0.05,294.960000,NaN,NaN,...,Tue,7559.28,143.7,1.746416,1.663187,0,1,0.70,0.08,37307.52
8,Hyderabad,Express,4057,7/31/2018,113,312.0,0.05,294.960000,NaN,NaN,...,Tue,7559.28,143.7,1.746416,1.663187,0,1,0.72,0.08,37307.52
9,Hyderabad,Express,4056,7/31/2018,120,392.0,0.05,378.955556,NaN,NaN,...,Tue,7559.28,143.7,2.330936,2.219903,0,1,0.84,0.08,37307.52
10,Hyderabad,Delivery,4061,7/31/2018,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
11,Hyderabad,Express,4055,7/31/2018,122,362.0,0.05,347.458182,NaN,NaN,...,Tue,7559.28,143.7,2.111748,2.011134,0,1,0.71,0.08,37307.52
12,Hyderabad,Take Away,4061,7/31/2018,233,802.0,0.05,809.456066,NaN,NaN,...,Tue,7559.28,143.7,5.326765,5.073069,0,1,0.82,0.91,37307.52
13,Hyderabad,Dine-in,9978,7/31/2018,118,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.85,1.09,37307.52
14,Hyderabad,Dine-in,979,7/31/2018,164,1222.0,0.05,1250.460000,NaN,NaN,...,Tue,7559.28,143.7,8.395685,7.995825,0,1,0.86,1.09,37307.52

2. Convert the transaction date column to a date column using pd.to_datetime function

In [3]:
df["Date"]= pd.to_datetime(df["Transaction_Date"])
df['Date']

0       2018-07-31
1       2018-07-31
2       2018-07-31
3       2018-07-31
4       2018-07-31
           ...
30226   2016-08-01
30227   2016-08-01
30228   2016-08-01
30229   2016-08-01
30230   2016-08-01
Name: Date, Length: 30231, dtype: datetime64[ns]

3. Subset  the  dataframe  for  transaction  date  greater  than  '2016-08-01'

In [4]:
df1= df[(df['Transaction_Date'] > '2016-08-01') ]
df1

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Date
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52,2018-07-31
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.050000,...,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52,2018-07-31
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52,2018-07-31
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52,2018-07-31
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30226,Mumbai,Take Away,4056,8/1/2016,615,239.0,0.14,232.033552,0.013889,0.883279,...,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40,2016-08-01
30227,Mumbai,Take Away,4058,8/1/2016,1289,212.8,0.14,202.575840,0.009338,1.144999,...,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.40,2016-08-01
30228,Mumbai,Dine-in,964,8/1/2016,140,933.0,0.21,1063.855517,NaN,NaN,...,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.40,2016-08-01
30229,Mumbai,Take Away,4066,8/1/2016,179,501.0,0.14,534.060000,NaN,NaN,...,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.40,2016-08-01
30230,Mumbai,Delivery,4061,8/1/2016,117,716.5,0.15,780.810000,NaN,NaN,...,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.40,2016-08-01

4. Look for unique  values  in  Mapped_Sales_Type

In [ ]:
k = df.Mapped_Sales_Type.unique()
print(k)

['Take Away' 'Main Hall' 'Express' 'Delivery' 'Dine-in' 'Bakery']

5. Subset  the entire dataframe, based on the below condition, to a new dataframe and work on the following questions

a. Condition: Avg_Discount_Percent_On_Discounted_Items should be less than 1.0

In [5]:
df1= df[ (df['Avg_Discount_Percent_On_Discounted_Items'] < 1.0) ]
df1

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Date
5,Hyderabad,Delivery,4056,7/31/2018,617,322.0,0.05,305.354585,0.003953,0.105020,...,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52,2018-07-31
10,Hyderabad,Delivery,4061,7/31/2018,144,942.0,0.05,942.631515,0.151515,0.105006,...,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52,2018-07-31
20,Hyderabad,Dine-in,966,7/31/2018,1250,392.0,0.05,378.840053,0.003512,0.105008,...,7559.28,143.7,2.330133,2.219903,0,1,0.92,1.09,37307.52,2018-07-31
24,Hyderabad,Dine-in,965,7/31/2018,1934,362.0,0.05,347.258327,0.001646,0.420000,...,7559.28,143.7,2.110357,2.011134,0,1,0.89,1.09,37307.52,2018-07-31
26,Hyderabad,Delivery,4068,7/31/2018,148,622.0,0.05,618.898649,0.027027,0.105009,...,7559.28,143.7,4.000686,3.820459,0,1,0.64,1.06,37307.52,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30198,Mumbai,Take Away,4055,8/1/2016,1290,230.0,0.15,222.456760,0.010178,0.820589,...,8033.92,140.1,1.273781,1.120628,1,0,0.75,0.99,27870.40,2016-08-01
30201,Mumbai,Dine-in,978,8/1/2016,213,989.0,0.21,1135.791961,0.009804,0.120502,...,8033.92,140.1,7.792948,6.538187,1,0,0.79,0.94,27870.40,2016-08-01
30212,Mumbai,Dine-in,970,8/1/2016,534,273.0,0.20,281.371135,0.007092,0.502083,...,8033.92,140.1,1.694298,1.427552,1,0,0.83,0.94,27870.40,2016-08-01
30213,Mumbai,Dine-in,965,8/1/2016,1410,317.0,0.20,333.437775,0.004619,0.120492,...,8033.92,140.1,2.065937,1.741613,1,0,0.83,0.94,27870.40,2016-08-01
30226,Mumbai,Take Away,4056,8/1/2016,615,239.0,0.14,232.033552,0.013889,0.883279,...,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40,2016-08-01

b. Check for sanity if the new dataframe contains Avg_Discount_Percent_On_Discounted_Items greater than or equal to 1.0

In [6]:
df2 = df1[(df1['Avg_Discount_Percent_On_Discounted_Items'] >= 1.0)]
df2

Empty DataFrame
Columns: [City, Mapped_Sales_Type, Mapped_Item_Code, Transaction_Date, Quantity_Sold, Median_Price, Average_Tax_Percent, Effective_Price, Percent_Quantity_With_Discount, Avg_Discount_Percent_On_Discounted_Items, Year, Month, Day, Car_sales, F_and_B_Inflation, F_and_B_Inflation_Adjusted_Effective_Price, F_and_B_Inflation_Adjusted_Median_Price, First_Week_Of_The_Month_Dummy, Last_Week_Of_The_Month_Dummy, Day_Of_The_Week_Seasonality, Month_Of_The_Year_Seasonality, Two_Wheeler_sales, Date]
Index: []

[0 rows x 23 columns]

6. Groupby  'City', 'Mapped_Sales_Type',  'Mapped_Item_Code',  'Transaction_Date' and perform  following  aggregate  operations  on  respective  columns  as  mentioned (note: Only one groupby to do all the below aggregations)

a. Quantity_Sold – sum

In [7]:
df1 =df.groupby(["City","Mapped_Sales_Type","Mapped_Item_Code","Transaction_Date"]).agg({"Quantity_Sold": ["sum"] })
df1

                                                            Quantity_Sold
                                                                      sum
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             8/5/2017                   110
                          9978             1/22/2018                  105
        Delivery          4055             1/1/2018                   714
                                           1/10/2018                  567
                                           1/11/2018                  499
...                                                                   ...
Mumbai  Take Away         4068             9/5/2016                   200
                                           9/6/2016                   210
                                           9/7/2016                   209
                                           9/8/2016                   193
                                           9/9/2016                   256

[30231 rows x 1 columns]

b. Median_Price – median

In [8]:
df1 =df.groupby(["City","Mapped_Sales_Type","Mapped_Item_Code","Transaction_Date"]).agg({"Median_Price" : ["median"]})
df1

                                                            Median_Price
                                                                  median
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             8/5/2017                223.0
                          9978             1/22/2018               178.0
        Delivery          4055             1/1/2018                281.1
                                           1/10/2018               281.1
                                           1/11/2018               281.1
...                                                                  ...
Mumbai  Take Away         4068             9/5/2016                405.0
                                           9/6/2016                405.0
                                           9/7/2016                405.0
                                           9/8/2016                405.0
                                           9/9/2016                405.0

[30231 rows x 1 columns]

c. Effective_Price – median

In [9]:
df1 =df.groupby(["City","Mapped_Sales_Type","Mapped_Item_Code","Transaction_Date"]).agg({"Effective_Price" : ["median"]})
df1

                                                            Effective_Price
                                                                     median
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             8/5/2017              221.000000
                          9978             1/22/2018             154.250000
        Delivery          4055             1/1/2018              262.466899
                                           1/10/2018             262.359057
                                           1/11/2018             262.446314
...                                                                     ...
Mumbai  Take Away         4068             9/5/2016              424.140000
                                           9/6/2016              424.140000
                                           9/7/2016              424.140000
                                           9/8/2016              424.140000
                                           9/9/2016              424.140000

[30231 rows x 1 columns]

7. Display the data for Effective_Price = not null and just print the last 5 rows (hint:                 use .notnull function)

In [13]:
a = pd.notnull(df["Effective_Price"])
df[a].tail(5)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Date
30226,Mumbai,Take Away,4056,8/1/2016,615,239.0,0.14,232.033552,0.013889,0.883279,...,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.4,2016-08-01
30227,Mumbai,Take Away,4058,8/1/2016,1289,212.8,0.14,202.575840,0.009338,1.144999,...,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.4,2016-08-01
30228,Mumbai,Dine-in,964,8/1/2016,140,933.0,0.21,1063.855517,NaN,NaN,...,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.4,2016-08-01
30229,Mumbai,Take Away,4066,8/1/2016,179,501.0,0.14,534.060000,NaN,NaN,...,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.4,2016-08-01
30230,Mumbai,Delivery,4061,8/1/2016,117,716.5,0.15,780.810000,NaN,NaN,...,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.4,2016-08-01

8. Display  the data  for  city = Chennai  AND  Mapped_Sales_Type = Delivery  and  print  top  5 records (hint  use  loc  function  to  subset,  then “&”  operator  to  filter  both  the  above cities)

In [15]:
a = df.loc[(df['City'] == 'Chennai') & (df['Mapped_Sales_Type'] == 'Delivery')]
a.head(5)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Date
8379,Chennai,Delivery,4055,2/5/2018,544,281.10,0.05,262.502194,NaN,NaN,...,6660.16,139.9,1.561846,1.487491,1,0,0.71,1.13,30726.72,2018-02-05
8384,Chennai,Delivery,4068,2/5/2018,129,566.43,0.05,562.110000,NaN,NaN,...,6660.16,139.9,3.703431,3.527019,1,0,0.65,1.13,30726.72,2018-02-05
8387,Chennai,Delivery,4064,2/5/2018,186,619.34,0.05,617.659733,NaN,NaN,...,6660.16,139.9,4.100498,3.905218,1,0,0.61,1.13,30726.72,2018-02-05
8388,Chennai,Delivery,4058,2/5/2018,287,259.19,0.05,239.381307,0.005682,0.105,...,6660.16,139.9,1.396578,1.330879,1,0,0.71,1.13,30726.72,2018-02-05
8392,Chennai,Delivery,4061,2/5/2018,128,850.62,0.05,855.697647,0.058824,0.105,...,6660.16,139.9,5.801985,5.558399,1,0,0.61,1.13,30726.72,2018-02-05

9. Display  the  data  for  the  column “Day” with  values  Mon, Tue and Wed (hint: use .isin function)

In [17]:
df2 = df[df['Day'].isin(['Mon','Tue','Wed'])]
df2

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales,Date
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52,2018-07-31
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.050000,...,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52,2018-07-31
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52,2018-07-31
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52,2018-07-31
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30226,Mumbai,Take Away,4056,8/1/2016,615,239.0,0.14,232.033552,0.013889,0.883279,...,8033.92,140.1,1.342138,1.184868,1,0,0.78,0.99,27870.40,2016-08-01
30227,Mumbai,Take Away,4058,8/1/2016,1289,212.8,0.14,202.575840,0.009338,1.144999,...,8033.92,140.1,1.131876,0.997859,1,0,0.78,0.99,27870.40,2016-08-01
30228,Mumbai,Dine-in,964,8/1/2016,140,933.0,0.21,1063.855517,NaN,NaN,...,8033.92,140.1,7.279483,6.138473,1,0,0.77,0.94,27870.40,2016-08-01
30229,Mumbai,Take Away,4066,8/1/2016,179,501.0,0.14,534.060000,NaN,NaN,...,8033.92,140.1,3.497930,3.054961,1,0,0.66,0.99,27870.40,2016-08-01
30230,Mumbai,Delivery,4061,8/1/2016,117,716.5,0.15,780.810000,NaN,NaN,...,8033.92,140.1,5.259172,4.593148,1,0,0.61,0.89,27870.40,2016-08-01

10. Display the data for Percent_Quantity_With_Discount not equal to 0.0 (hint: loc function with != operator)

In [18]:
a = df.loc[(df['Percent_Quantity_With_Discount'] != 0.0),['Percent_Quantity_With_Discount']]
a

       Percent_Quantity_With_Discount
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

[30224 rows x 1 columns]

11. Add a column “Range” to the existing dataframe for below condition

a. 1 for Effective_Price > 500

b.0.5 otherwise

In [20]:
df.loc[df['Effective_Price'] >500, 'Range'] = 1
df.loc[df['Effective_Price'] < 500, 'Range'] = 0.5 
df['Range']

0        0.5
1        1.0
2        0.5
3        0.5
4        0.5
        ...
30226    0.5
30227    0.5
30228    1.0
30229    1.0
30230    1.0
Name: Range, Length: 30231, dtype: float64

12.Read the demand transaction file again and perform following operations for practice

Handle the missing values in the column Percent_Quantity_With_Discount with strategy = mean

In [21]:
x = df['Percent_Quantity_With_Discount'].mean()
df['Percent_Quantity_With_Discount'] = df['Percent_Quantity_With_Discount'].fillna(x)
df['Percent_Quantity_With_Discount']

0        0.098011
1        0.027237
2        0.098011
3        0.098011
4        0.098011
           ...
30226    0.013889
30227    0.009338
30228    0.098011
30229    0.098011
30230    0.098011
Name: Percent_Quantity_With_Discount, Length: 30231, dtype: float64