In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [ ]:
url="https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/drug200.csv"
df = pd.read_csv(url)
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Age,200.0,NaN,NaN,NaN,44.315,16.544315,15.0,31.0,45.0,58.0,74.0
Sex,200,2,M,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BP,200,3,HIGH,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cholesterol,200,2,HIGH,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Na_to_K,200.0,NaN,NaN,NaN,16.084485,7.223956,6.269,10.4455,13.9365,19.38,38.247
Drug,200,5,DrugY,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df["Drug"].value_counts()

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [ ]:
df.replace("DrugY","drugY",inplace=True)

In [ ]:
x = df.iloc[:,:-1]
x.head()

   Age Sex      BP Cholesterol  Na_to_K
0   23   F    HIGH        HIGH   25.355
1   47   M     LOW        HIGH   13.093
2   47   M     LOW        HIGH   10.114
3   28   F  NORMAL        HIGH    7.798
4   61   F     LOW        HIGH   18.043

In [ ]:
y=df.iloc[:,-1]
y.head()

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [ ]:
lb_make = LabelEncoder()

In [ ]:
x['Sex'] = lb_make.fit_transform(x['Sex'])

In [ ]:
x['BP'] = lb_make.fit_transform(x['BP'])

In [ ]:
x['Cholesterol'] = lb_make.fit_transform(x['Cholesterol'])

In [ ]:
x

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   0            0   25.355
1     47    1   1            0   13.093
2     47    1   1            0   10.114
3     28    0   2            0    7.798
4     61    0   1            0   18.043
..   ...  ...  ..          ...      ...
195   56    0   1            0   11.567
196   16    1   1            0   12.006
197   52    1   2            0    9.894
198   23    1   2            1   14.020
199   40    0   1            1   11.349

[200 rows x 5 columns]

In [ ]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.30, random_state=1,stratify=y)

In [ ]:
scl = StandardScaler()

In [ ]:
scl.fit(x_train)

StandardScaler()

In [ ]:
x_train_scl=scl.transform(x_train)

In [ ]:
x_test_scl=scl.transform(x_test)

In [ ]:
x_train_scl

array([[ 4.50108353e-01, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -3.95929418e-01],
       [ 1.40669537e+00, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -1.05886189e-01],
       [-6.26052036e-01, -1.04381619e+00,  1.12256829e-01,
        -9.85814884e-01,  2.11874791e+00],
       [-1.10434554e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01,  2.88592833e-01],
       [ 1.04797524e+00, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01,  1.10587245e+00],
       [-1.28370561e+00,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00,  1.46229436e+00],
       [-1.16413223e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  2.18547519e-01],
       [-2.07545218e-01, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -8.37695348e-01],
       [-7.45625412e-01,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -6.95581752e-01],
       [-1.64242574e+00,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -5.97088432e-01],
       [ 9.13882235e-02,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -1.05680822e+00],
       [-1.40327898e+00, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00, -6.37547819e-01],
       [-2.67331906e-01, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00, -8.87510968e-01],
       [-8.05412101e-01, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -7.94707250e-01],
       [ 1.52626874e+00,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -1.58104085e-01],
       [ 1.51174912e-01, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01,  2.27047061e+00],
       [-3.27118594e-01, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00, -6.83064629e-01],
       [ 9.13882235e-02,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01,  1.54571114e-01],
       [-1.28370561e+00,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -1.08449761e+00],
       [ 8.08828483e-01, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -3.17665792e-01],
       [-1.22391892e+00,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -1.19234716e+00],
       [ 7.49041794e-01, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01,  1.09575760e+00],
       [-4.46691971e-01, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01,  3.10128425e-03],
       [ 7.49041794e-01,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -2.16643760e-01],
       [-6.85838724e-01,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -9.20889962e-01],
       [ 1.28712199e+00,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00,  2.30979208e+00],
       [ 1.28712199e+00,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -6.81294531e-01],
       [-8.79718413e-02, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01,  5.44624890e-01],
       [ 3.90321665e-01, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00,  6.10087816e-02],
       [-1.40327898e+00,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00,  2.39096372e+00],
       [ 1.10776192e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01, -1.70019736e-02],
       [-9.24985477e-01, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -4.86710168e-01],
       [ 3.90321665e-01, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -5.08962830e-01],
       [ 2.10961600e-01, -1.04381619e+00,  1.12256829e-01,
        -9.85814884e-01, -8.42247029e-01],
       [-1.22391892e+00,  9.58023079e-01,  1.32117653e+00,
         1.01438923e+00, -3.42447166e-01],
       [-7.45625412e-01,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01,  1.72426889e+00],
       [-3.86905283e-01, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  8.04450015e-01],
       [-2.67331906e-01,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01, -9.60242135e-02],
       [-5.06478659e-01,  9.58023079e-01,  1.32117653e+00,
         1.01438923e+00, -1.12318690e+00],
       [ 5.09895041e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00,  2.04743824e+00],
       [ 3.30534977e-01,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -1.32244938e+00],
       [ 1.82520218e+00,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -9.05464821e-01],
       [-1.47758530e-01, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00,  7.80932996e-01],
       [ 6.89255106e-01, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01, -7.27190648e-01],
       [-8.79718413e-02,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -5.00997388e-01],
       [ 3.30534977e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -7.22512531e-01],
       [ 2.10961600e-01, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00, -1.27010504e+00],
       [-1.40327898e+00, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01, -6.91156507e-01],
       [-1.70221242e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00, -4.38912098e-04],
       [ 8.08828483e-01, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00, -8.57672170e-01],
       [-2.67331906e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -3.52814884e-01],
       [ 2.70748288e-01,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -7.94327943e-01],
       [-1.16413223e+00, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -7.74224685e-01],
       [ 1.46648205e+00, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00,  1.30500849e+00],
       [-1.22391892e+00, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01,  1.09070018e+00],
       [ 1.70562881e+00, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00, -2.63804233e-01],
       [ 1.58605543e+00, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01,  4.75464625e-01],
       [ 9.88188548e-01,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01, -1.96919809e-01],
       [ 5.69681730e-01, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00, -5.35261432e-01],
       [ 3.90321665e-01,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -1.16807153e+00],
       [-2.67331906e-01,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -8.93200570e-01],
       [-1.46306567e+00, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01, -4.31837124e-01],
       [-3.27118594e-01, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00,  1.66218902e+00],
       [ 4.50108353e-01,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01,  1.98064955e-01],
       [ 9.88188548e-01,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -3.53320627e-01],
       [-9.24985477e-01,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01,  1.30677859e+00],
       [-8.65198789e-01, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01,  1.60845389e+00],
       [-6.85838724e-01, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00, -7.44512323e-01],
       [-3.86905283e-01, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00, -5.97088432e-01],
       [-6.85838724e-01, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  1.16896380e+00],
       [-5.66265347e-01,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01,  7.24163419e-01],
       [ 1.82520218e+00,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -6.05559616e-01],
       [ 1.58605543e+00,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -3.49148252e-01],
       [-1.04455885e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  3.07558170e-01],
       [-1.16413223e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01,  1.14519391e+00],
       [-5.66265347e-01, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  3.12362722e-01],
       [ 1.34690868e+00, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00, -1.09006077e+00],
       [ 1.04797524e+00, -1.04381619e+00,  1.12256829e-01,
        -9.85814884e-01,  1.66203187e-01],
       [-1.52285236e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  9.54276181e-01],
       [ 1.22733530e+00, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00,  1.13950431e+00],
       [ 3.30534977e-01,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -1.01508447e+00],
       [-1.46306567e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  1.16833162e+00],
       [ 1.28712199e+00, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00, -3.74182498e-01],
       [ 1.10776192e+00,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00,  1.32182442e+00],
       [-1.52285236e+00, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01,  2.58681244e+00],
       [ 1.52626874e+00, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -8.42499900e-01],
       [ 1.16754861e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01,  1.16175697e+00],
       [-3.86905283e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -5.65347682e-04],
       [-6.85838724e-01, -1.04381619e+00,  1.12256829e-01,
        -9.85814884e-01, -8.87131662e-01],
       [ 1.51174912e-01,  9.58023079e-01,  1.32117653e+00,
         1.01438923e+00, -1.19399082e+00],
       [ 6.29468418e-01,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01,  1.00257457e+00],
       [ 1.40669537e+00,  9.58023079e-01,  1.32117653e+00,
         1.01438923e+00, -9.12165907e-01],
       [-8.65198789e-01,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -4.89618186e-01],
       [ 8.68615171e-01, -1.04381619e+00,  1.12256829e-01,
        -9.85814884e-01,  2.72070772e+00],
       [ 4.50108353e-01,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -6.80915224e-01],
       [ 1.58605543e+00,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -8.69809987e-01],
       [-2.81851530e-02,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -3.48516074e-01],
       [-1.64242574e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00, -1.53299533e-01],
       [-1.04455885e+00, -1.04381619e+00,  1.12256829e-01,
        -9.85814884e-01, -3.24746185e-01],
       [-1.04455885e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00, -5.59031321e-01],
       [ 3.30534977e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -3.95802983e-01],
       [ 1.70562881e+00,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -8.91556907e-01],
       [ 8.68615171e-01, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00, -3.14757774e-01],
       [-1.34349229e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  1.50502958e+00],
       [-1.52285236e+00, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00, -1.00876269e+00],
       [-5.06478659e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -9.55659748e-01],
       [ 1.34690868e+00,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01, -4.82315628e-02],
       [ 1.22733530e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01, -1.13380749e+00],
       [ 2.10961600e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00,  2.12582830e+00],
       [-9.24985477e-01, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01,  3.72546060e-01],
       [-2.67331906e-01, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00,  7.54634395e-01],
       [ 1.22733530e+00,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00,  5.31475589e-01],
       [ 1.28712199e+00, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  1.91518662e+00],
       [-1.04455885e+00,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00,  5.28567571e-01],
       [-3.86905283e-01, -1.04381619e+00, -1.09666287e+00,
        -9.85814884e-01, -4.59905824e-01],
       [ 5.69681730e-01,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01, -3.28159945e-01],
       [-1.22391892e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01,  1.53655359e-02],
       [-1.22391892e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01,  1.89116386e+00],
       [ 1.70562881e+00,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -1.25923158e+00],
       [ 1.70562881e+00,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -5.29096794e-02],
       [ 9.13882235e-02,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -8.48568808e-01],
       [ 1.46648205e+00,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -8.13925458e-01],
       [ 3.30534977e-01,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -7.82822305e-01],
       [-1.40327898e+00, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00, -9.41625398e-01],
       [-2.81851530e-02,  9.58023079e-01,  1.32117653e+00,
         1.01438923e+00, -4.89238879e-01],
       [ 8.68615171e-01, -1.04381619e+00,  1.12256829e-01,
        -9.85814884e-01,  1.25380208e+00],
       [-2.81851530e-02,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00,  3.33730336e-01],
       [-1.16413223e+00,  9.58023079e-01, -1.09666287e+00,
         1.01438923e+00, -9.17096895e-01],
       [-1.47758530e-01,  9.58023079e-01,  1.12256829e-01,
        -9.85814884e-01, -7.19604513e-01],
       [ 2.10961600e-01, -1.04381619e+00,  1.12256829e-01,
        -9.85814884e-01, -6.27306537e-01],
       [-4.46691971e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00, -6.70673942e-01],
       [ 1.04797524e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01, -9.21142834e-01],
       [-5.66265347e-01,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01,  2.49650673e-01],
       [-1.28370561e+00, -1.04381619e+00,  1.32117653e+00,
        -9.85814884e-01, -1.02684298e+00],
       [ 1.04797524e+00, -1.04381619e+00,  1.12256829e-01,
         1.01438923e+00, -1.18703687e+00],
       [-9.24985477e-01, -1.04381619e+00, -1.09666287e+00,
         1.01438923e+00,  2.63052845e-01],
       [ 2.10961600e-01,  9.58023079e-01,  1.12256829e-01,
         1.01438923e+00,  1.74980887e+00],
       [-2.07545218e-01,  9.58023079e-01, -1.09666287e+00,
        -9.85814884e-01,  1.40312250e+00],
       [-1.70221242e+00,  9.58023079e-01,  1.32117653e+00,
        -9.85814884e-01, -9.66533208e-01],
       [ 3.90321665e-01, -1.04381619e+00,  1.32117653e+00,
         1.01438923e+00, -5.60548548e-01]])

In [ ]:
x_test_scl

array([[ 0.92840186,  0.95802308, -1.09666287, -0.98581488, -0.35319419],
       [-0.32711859,  0.95802308,  0.11225683, -0.98581488,  0.19806495],
       [-0.26733191, -1.04381619,  1.32117653,  1.01438923,  0.06277888],
       [ 0.33053498, -1.04381619,  1.32117653, -0.98581488, -0.05733492],
       [-0.56626535, -1.04381619,  0.11225683,  1.01438923, -0.481147  ],
       [-0.08797184, -1.04381619,  0.11225683,  1.01438923,  1.58582192],
       [ 0.2109616 ,  0.95802308,  0.11225683, -0.98581488, -0.83630456],
       [-0.44669197, -1.04381619, -1.09666287,  1.01438923, -0.15658686],
       [-0.68583872, -1.04381619,  1.32117653, -0.98581488, -1.16971519],
       [ 0.2109616 ,  0.95802308,  0.11225683, -0.98581488, -0.45965295],
       [ 0.98818855, -1.04381619, -1.09666287, -0.98581488, -0.43310148],
       [-0.14775853, -1.04381619,  0.11225683,  1.01438923,  0.25420235],
       [ 0.45010835, -1.04381619,  0.11225683,  1.01438923,  0.79332368],
       [-0.68583872, -1.04381619, -1.09666287,  1.01438923, -0.81379902],
       [ 1.40669537,  0.95802308,  0.11225683,  1.01438923,  0.50125748],
       [-0.08797184,  0.95802308,  0.11225683, -0.98581488,  0.41528129],
       [-0.02818515,  0.95802308,  0.11225683, -0.98581488, -0.17100051],
       [ 0.86861517,  0.95802308, -1.09666287, -0.98581488,  0.28606412],
       [-1.28370561,  0.95802308,  1.32117653, -0.98581488, -0.60378952],
       [-1.28370561, -1.04381619, -1.09666287,  1.01438923,  0.7699331 ],
       [ 1.40669537,  0.95802308,  1.32117653,  1.01438923, -0.73717906],
       [-0.92498548, -1.04381619,  0.11225683, -0.98581488, -0.45535414],
       [-0.50647866, -1.04381619, -1.09666287, -0.98581488, -0.48481363],
       [ 1.7654155 , -1.04381619, -1.09666287, -0.98581488,  0.20476604],
       [ 0.98818855,  0.95802308, -1.09666287,  1.01438923, -1.02507288],
       [ 1.46648205,  0.95802308, -1.09666287, -0.98581488, -0.72314471],
       [ 0.80882848, -1.04381619,  1.32117653,  1.01438923,  1.15872252],
       [ 1.7654155 , -1.04381619,  1.32117653, -0.98581488,  0.31514431],
       [ 0.39032166,  0.95802308,  1.32117653,  1.01438923, -0.11865618],
       [ 0.74904179,  0.95802308,  1.32117653, -0.98581488, -0.98145261],
       [ 0.80882848,  0.95802308,  0.11225683,  1.01438923,  0.3033858 ],
       [ 1.82520218,  0.95802308, -1.09666287,  1.01438923, -0.16341438],
       [ 0.98818855,  0.95802308,  1.32117653,  1.01438923, -0.83921258],
       [ 1.46648205, -1.04381619, -1.09666287,  1.01438923, -0.82682189],
       [ 1.52626874,  0.95802308,  0.11225683,  1.01438923, -0.66675444],
       [-0.20754522, -1.04381619,  0.11225683,  1.01438923, -0.68015661],
       [ 0.09138822, -1.04381619, -1.09666287, -0.98581488, -0.48987106],
       [-1.64242574,  0.95802308, -1.09666287,  1.01438923,  0.28808709],
       [ 0.68925511,  0.95802308,  1.32117653,  1.01438923, -1.19702528],
       [-0.92498548, -1.04381619,  0.11225683, -0.98581488,  0.38784477],
       [ 0.92840186, -1.04381619,  0.11225683, -0.98581488, -0.79458081],
       [-0.14775853,  0.95802308, -1.09666287,  1.01438923, -0.19881634],
       [ 0.50989504,  0.95802308,  1.32117653, -0.98581488, -0.86412039],
       [ 0.27074829, -1.04381619,  0.11225683, -0.98581488, -0.21398861],
       [ 1.82520218, -1.04381619,  0.11225683, -0.98581488,  0.53273994],
       [ 0.74904179, -1.04381619,  0.11225683, -0.98581488, -0.65259365],
       [-0.44669197, -1.04381619, -1.09666287, -0.98581488, -0.69924838],
       [-0.74562541,  0.95802308, -1.09666287,  1.01438923, -0.61415724],
       [ 0.86861517, -1.04381619, -1.09666287, -0.98581488,  0.33979924],
       [-1.58263905,  0.95802308,  1.32117653,  1.01438923, -0.74552381],
       [-1.22391892,  0.95802308, -1.09666287, -0.98581488, -1.10219859],
       [-1.70221242,  0.95802308, -1.09666287,  1.01438923,  0.0603766 ],
       [ 0.56968173,  0.95802308,  0.11225683, -0.98581488,  0.78826626],
       [-0.92498548, -1.04381619,  1.32117653, -0.98581488, -1.12912937],
       [-1.22391892,  0.95802308,  1.32117653, -0.98581488, -0.56497379],
       [ 0.92840186, -1.04381619,  1.32117653, -0.98581488, -0.35964241],
       [ 0.33053498, -1.04381619,  1.32117653,  1.01438923, -0.92898184],
       [-0.38690528,  0.95802308,  0.11225683,  1.01438923, -0.98119974],
       [ 0.2109616 ,  0.95802308, -1.09666287, -0.98581488, -0.79976467],
       [-0.74562541,  0.95802308, -1.09666287,  1.01438923,  0.04305493]])

In [ ]:
y_train.head()

86     drugX
179    drugY
24     drugY
177    drugY
119    drugY
Name: Drug, dtype: object

In [ ]:
y_test.head()

85     drugB
165    drugY
172    drugY
6      drugY
159    drugX
Name: Drug, dtype: object

In [ ]:
knn=KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(x_train_scl,y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
y_pred_train= knn.predict(x_train_scl)

In [ ]:
y_pred_test = knn.predict(x_test_scl)

In [ ]:
y_pred_test

array(['drugB', 'drugY', 'drugY', 'drugX', 'drugX', 'drugY', 'drugC',
       'drugY', 'drugX', 'drugC', 'drugA', 'drugX', 'drugY', 'drugA',
       'drugY', 'drugY', 'drugC', 'drugY', 'drugY', 'drugY', 'drugX',
       'drugC', 'drugA', 'drugY', 'drugB', 'drugB', 'drugY', 'drugY',
       'drugX', 'drugX', 'drugY', 'drugB', 'drugX', 'drugB', 'drugX',
       'drugX', 'drugA', 'drugA', 'drugX', 'drugC', 'drugC', 'drugA',
       'drugX', 'drugC', 'drugY', 'drugC', 'drugA', 'drugA', 'drugY',
       'drugX', 'drugA', 'drugA', 'drugY', 'drugX', 'drugY', 'drugX',
       'drugX', 'drugX', 'drugA', 'drugA'], dtype=object)

In [ ]:
acc_score_train = accuracy_score(y_pred_train,y_train)

In [ ]:
acc_score_test = accuracy_score(y_pred_test,y_test)

In [ ]:
acc_score_train

0.9428571428571428

In [ ]:
acc_score_test

0.7666666666666667

In [ ]:
confusion_matrix(y_pred_train,y_train)

array([[16,  2,  0,  0,  2],
       [ 0,  9,  0,  0,  2],
       [ 0,  0, 11,  1,  0],
       [ 0,  0,  0, 36,  0],
       [ 0,  0,  0,  1, 60]])

In [ ]:
confusion_matrix(y_pred_test,y_test)

array([[ 7,  1,  0,  0,  4],
       [ 0,  4,  0,  0,  1],
       [ 0,  0,  5,  0,  3],
       [ 0,  0,  0, 14,  3],
       [ 0,  0,  0,  2, 16]])

In [ ]:
print(classification_report(y_pred_train,y_train))

              precision    recall  f1-score   support

       drugA       1.00      0.80      0.89        20
       drugB       0.82      0.82      0.82        11
       drugC       1.00      0.92      0.96        12
       drugX       0.95      1.00      0.97        36
       drugY       0.94      0.98      0.96        61

    accuracy                           0.94       140
   macro avg       0.94      0.90      0.92       140
weighted avg       0.94      0.94      0.94       140

In [ ]:
print(classification_report(y_pred_test,y_test))

              precision    recall  f1-score   support

       drugA       1.00      0.58      0.74        12
       drugB       0.80      0.80      0.80         5
       drugC       1.00      0.62      0.77         8
       drugX       0.88      0.82      0.85        17
       drugY       0.59      0.89      0.71        18

    accuracy                           0.77        60
   macro avg       0.85      0.74      0.77        60
weighted avg       0.83      0.77      0.77        60