In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder, RobustScaler

In [20]:
url="https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/income_evaluation.csv"
df = pd.read_csv(url)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [21]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,32561.0,NaN,NaN,NaN,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
workclass,32561,9,Private,22696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fnlwgt,32561.0,NaN,NaN,NaN,189778.366512,105549.977697,12285.0,117827.0,178356.0,237051.0,1484705.0
education,32561,16,HS-grad,10501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education-num,32561.0,NaN,NaN,NaN,10.080679,2.57272,1.0,9.0,10.0,12.0,16.0
marital-status,32561,7,Married-civ-spouse,14976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occupation,32561,15,Prof-specialty,4140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
relationship,32561,6,Husband,13193,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race,32561,5,White,27816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,32561,2,Male,21790,NaN,NaN,NaN,NaN,NaN,NaN,NaN
capital-gain,32561.0,NaN,NaN,NaN,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital-loss,32561.0,NaN,NaN,NaN,87.30383,402.960219,0.0,0.0,0.0,0.0,4356.0
hours-per-week,32561.0,NaN,NaN,NaN,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0
native-country,32561,42,United-States,29170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income,32561,2,<=50K,24720,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [23]:
print(df.value_counts())

age   workclass          fnlwgt   education      education-num   marital-status       occupation          relationship    race    sex      capital-gain   capital-loss   hours-per-week   native-country   income
25    Private           195994    1st-4th       2                Never-married        Priv-house-serv     Not-in-family   White   Female  0              0              40                Guatemala        <=50K     3
23    Private           240137    5th-6th       3                Never-married        Handlers-cleaners   Not-in-family   White   Male    0              0              55                Mexico           <=50K     2
38    Private           207202    HS-grad       9                Married-civ-spouse   Machine-op-inspct   Husband         White   Male    0              0              48                United-States    >50K      2
30    Private           144593    HS-grad       9                Never-married        Other-service       Not-in-family   Black   Male    0              0              40                ?                <=50K     2
49    Self-emp-not-inc  43479     Some-college  10               Married-civ-spouse   Craft-repair        Husband         White   Male    0              0              40                United-States    <=50K     2
                                                                                                                                                                                                                    ..
31    Private           128567    HS-grad       9                Married-civ-spouse   Craft-repair        Husband         White   Male    0              0              40                United-States    <=50K     1
                        128493    HS-grad       9                Divorced             Other-service       Not-in-family   White   Female  0              0              25                United-States    <=50K     1
                        128220    7th-8th       4                Widowed              Adm-clerical        Not-in-family   White   Female  0              0              35                United-States    <=50K     1
                        127610    Bachelors     13               Married-civ-spouse   Prof-specialty      Wife            White   Female  0              0              40                United-States    >50K      1
90    Self-emp-not-inc  282095    Some-college  10               Married-civ-spouse   Farming-fishing     Husband         White   Male    0              0              40                United-States    <=50K     1
Length: 32537, dtype: int64

In [24]:
df.drop(" education",axis=1,inplace=True)

In [25]:
lb_code = LabelEncoder()

In [26]:
df[' marital-status'] = lb_code.fit_transform(df[' marital-status'])

In [27]:
df[' workclass'] = lb_code.fit_transform(df[' workclass'])

In [28]:
df[' occupation'] = lb_code.fit_transform(df[' occupation'])

In [29]:
df[" relationship"]= lb_code.fit_transform(df[" relationship"])

In [30]:
df[" race"]= lb_code.fit_transform(df[" race"])

In [31]:
df[" sex"]= lb_code.fit_transform(df[" sex"])

In [32]:
df[" native-country"]= lb_code.fit_transform(df[" native-country"])

In [33]:
df[" income"]= lb_code.fit_transform(df[" income"])

In [34]:
df[" income"].value_counts()

0    24720
1     7841
Name:  income, dtype: int64

In [35]:
x = df.iloc[:,:-1]
x

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,7,77516,13,4,1,1,4,1,2174,0,40,39
1,50,6,83311,13,2,4,0,4,1,0,0,13,39
2,38,4,215646,9,0,6,1,4,1,0,0,40,39
3,53,4,234721,7,2,6,0,2,1,0,0,40,39
4,28,4,338409,13,2,10,5,2,0,0,0,40,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,12,2,13,5,4,0,0,0,38,39
32557,40,4,154374,9,2,7,0,4,1,0,0,40,39
32558,58,4,151910,9,6,1,4,4,0,0,0,40,39
32559,22,4,201490,9,4,1,3,4,1,0,0,20,39
32560,52,5,287927,9,2,4,5,4,0,15024,0,40,39

In [36]:
y = df.iloc[:,-1]
y

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name:  income, Length: 32561, dtype: int64

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=3,stratify=y)

In [38]:
scl= RobustScaler()

In [39]:
scl.fit(x_train)

RobustScaler()

In [40]:
x_train_scl= scl.transform(x_train)

In [41]:
x_train_scl

array([[-7.50000000e-01, -4.00000000e+00, -4.37730352e-01, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 1.10000000e+00,  0.00000000e+00, -1.29005298e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 5.50000000e-01, -2.00000000e+00, -5.25111031e-01, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 5.00000000e-01,  3.00000000e+00, -1.03396412e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 6.50000000e-01, -3.00000000e+00, -9.02099722e-03, ...,
         1.59000000e+03,  0.00000000e+00,  0.00000000e+00],
       [ 1.50000000e-01,  0.00000000e+00, -8.31220458e-01, ...,
         0.00000000e+00,  2.00000000e+00,  0.00000000e+00]])

In [42]:
x_test_scl = scl.transform(x_test)

In [43]:
x_test_scl

array([[-1.00000000e+00,  0.00000000e+00,  5.58130651e-01, ...,
         0.00000000e+00, -4.00000000e+00,  0.00000000e+00],
       [ 2.50000000e-01,  2.00000000e+00,  1.19804636e+00, ...,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00, -1.06438112e+00, ...,
         0.00000000e+00,  1.18000000e+01, -2.90000000e+01],
       ...,
       [-5.00000000e-02,  0.00000000e+00,  2.88718086e-01, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 1.65000000e+00,  1.00000000e+00,  2.50980178e-01, ...,
         2.37700000e+03,  2.00000000e+00,  0.00000000e+00],
       [-6.00000000e-01, -4.00000000e+00, -1.41116270e-01, ...,
         0.00000000e+00,  1.00000000e+01,  0.00000000e+00]])

In [44]:
y_train

29375    0
27414    0
11028    0
24121    0
30833    1
        ..
29068    0
4648     0
12714    1
3893     0
12832    1
Name:  income, Length: 22792, dtype: int64

In [45]:
y_test

27693    0
21322    0
13858    1
32274    0
23141    0
        ..
31029    0
24027    0
22904    0
31417    1
31108    0
Name:  income, Length: 9769, dtype: int64

In [46]:
knn = KNeighborsClassifier(n_neighbors=3)

In [47]:
knn.fit(x_train_scl,y_train)

KNeighborsClassifier(n_neighbors=3)

In [48]:
y_train_pred = knn.predict(x_train_scl)

In [49]:
y_test_pred = knn.predict(x_test_scl)

In [50]:
acc_score_train = accuracy_score(y_train_pred,y_train)
acc_score_train

0.9127325377325377

In [51]:
acc_score_test = accuracy_score(y_test_pred,y_test)
acc_score_test

0.8402088238304842

In [52]:
confusion_matrix(y_train_pred,y_train)

array([[16514,  1200],
       [  789,  4289]])

In [53]:
confusion_matrix(y_test_pred,y_test)

array([[6733,  877],
       [ 684, 1475]])

In [54]:
print(classification_report(y_train_pred,y_train))

              precision    recall  f1-score   support

           0       0.95      0.93      0.94     17714
           1       0.78      0.84      0.81      5078

    accuracy                           0.91     22792
   macro avg       0.87      0.89      0.88     22792
weighted avg       0.92      0.91      0.91     22792

In [55]:
print(classification_report(y_test_pred,y_test))

              precision    recall  f1-score   support

           0       0.91      0.88      0.90      7610
           1       0.63      0.68      0.65      2159

    accuracy                           0.84      9769
   macro avg       0.77      0.78      0.78      9769
weighted avg       0.85      0.84      0.84      9769