In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [ ]:
url= "https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/sbwu_elections.csv"
df = pd.read_csv(url)
df

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
0,Camp Road Hamburg,"Buffalo, NY",NY,No,12/9/2021,8,12,20,-0.20,No
1,Genessee St,"Buffalo, NY",NY,No,12/9/2021,15,9,24,0.25,Yes
2,Elmwood,"Buffalo, NY",NY,No,12/9/2021,19,8,27,0.41,Yes
3,Power & Baseline Road,"Mesa, AZ",AZ,Yes,2/25/2022,25,3,28,0.79,Yes
4,Sheridan & Bailey,"Buffalo, NY",NY,No,3/9/2022,15,12,27,0.11,Yes
...,...,...,...,...,...,...,...,...,...,...
71,52 Curtiss Pkwy,"Miami Springs, FL",FL,Yes,5/10/2022,10,3,13,0.54,Yes
72,1980 Can Marco Blvd,"Jacksonville, FL",FL,Yes,5/10/2022,8,1,9,0.78,Yes
73,1700 W Nursery Road,"Linthicum, MD",MD,No,5/10/2022,15,2,17,0.76,Yes
74,San Jose Blvd & Ricky Drive,"Jacksonville, FL",FL,Yes,5/10/2022,10,7,17,0.18,Yes
75,E Colfax Ave,"Denver, CO",CO,No,5/10/2022,13,0,13,1.00,Yes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Store          76 non-null     object
 1   Location       76 non-null     object
 2   State          76 non-null     object
 3   RTWState       76 non-null     object
 4   VoteCountDate  76 non-null     object
 5   VotesYes       76 non-null     int64
 6   VotesNo        76 non-null     int64
 7   VoteTotal      76 non-null     int64
 8   Margin         76 non-null     float64
 9   Result         76 non-null     object
dtypes: float64(1), int64(3), object(6)
memory usage: 6.1+ KB

In [ ]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Store,76,76,Camp Road Hamburg,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,76,47,"Eugene, OR",8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,76,18,NY,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RTWState,76,2,No,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VoteCountDate,76,29,5/3/2022,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VotesYes,76.0,NaN,NaN,NaN,13.986842,7.399988,4.0,9.75,12.5,17.0,46.0
VotesNo,76.0,NaN,NaN,NaN,4.644737,6.202589,0.0,1.0,2.5,7.0,36.0
VoteTotal,76.0,NaN,NaN,NaN,18.631579,11.282839,5.0,13.0,15.5,21.0,82.0
Margin,76.0,NaN,NaN,NaN,0.561316,0.393695,-0.31,0.225,0.685,0.8825,1.0
Result,76,2,Yes,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.corr()

           VotesYes   VotesNo  VoteTotal    Margin    Result
VotesYes   1.000000  0.371146   0.859895  0.224354  0.306418
VotesNo    0.371146  1.000000   0.793157 -0.728247 -0.401481
VoteTotal  0.859895  0.793157   1.000000 -0.253199 -0.019740
Margin     0.224354 -0.728247  -0.253199  1.000000  0.704971
Result     0.306418 -0.401481  -0.019740  0.704971  1.000000

In [ ]:
 lb=LabelEncoder()

In [ ]:
df["Result"]= lb.fit_transform(df["Result"])

In [ ]:
df

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
0,Camp Road Hamburg,"Buffalo, NY",NY,No,12/9/2021,8,12,20,-0.20,0
1,Genessee St,"Buffalo, NY",NY,No,12/9/2021,15,9,24,0.25,1
2,Elmwood,"Buffalo, NY",NY,No,12/9/2021,19,8,27,0.41,1
3,Power & Baseline Road,"Mesa, AZ",AZ,Yes,2/25/2022,25,3,28,0.79,1
4,Sheridan & Bailey,"Buffalo, NY",NY,No,3/9/2022,15,12,27,0.11,1
...,...,...,...,...,...,...,...,...,...,...
71,52 Curtiss Pkwy,"Miami Springs, FL",FL,Yes,5/10/2022,10,3,13,0.54,1
72,1980 Can Marco Blvd,"Jacksonville, FL",FL,Yes,5/10/2022,8,1,9,0.78,1
73,1700 W Nursery Road,"Linthicum, MD",MD,No,5/10/2022,15,2,17,0.76,1
74,San Jose Blvd & Ricky Drive,"Jacksonville, FL",FL,Yes,5/10/2022,10,7,17,0.18,1
75,E Colfax Ave,"Denver, CO",CO,No,5/10/2022,13,0,13,1.00,1

In [ ]:
df.drop(["Store","Location","State","RTWState","VoteCountDate"],axis="columns",inplace=True)

In [ ]:
df

    VotesYes  VotesNo  VoteTotal  Margin  Result
0          8       12         20   -0.20       0
1         15        9         24    0.25       1
2         19        8         27    0.41       1
3         25        3         28    0.79       1
4         15       12         27    0.11       1
..       ...      ...        ...     ...     ...
71        10        3         13    0.54       1
72         8        1          9    0.78       1
73        15        2         17    0.76       1
74        10        7         17    0.18       1
75        13        0         13    1.00       1

[76 rows x 5 columns]

In [ ]:
x = df.iloc[:,:-1]
x

    VotesYes  VotesNo  VoteTotal  Margin
0          8       12         20   -0.20
1         15        9         24    0.25
2         19        8         27    0.41
3         25        3         28    0.79
4         15       12         27    0.11
..       ...      ...        ...     ...
71        10        3         13    0.54
72         8        1          9    0.78
73        15        2         17    0.76
74        10        7         17    0.18
75        13        0         13    1.00

[76 rows x 4 columns]

In [ ]:
y= df.iloc[:,-1]
y

0     0
1     1
2     1
3     1
4     1
     ..
71    1
72    1
73    1
74    1
75    1
Name: Result, Length: 76, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=3,stratify=y)

In [ ]:
scl = StandardScaler()

In [ ]:
scl.fit(x_train)

StandardScaler()

In [ ]:
x_train_scl= scl.transform(x_train)

In [ ]:
x_train_scl

array([[ 1.13839030e-01, -7.13401392e-01, -3.11765558e-01,
         1.12459926e+00],
       [-8.71217064e-01, -4.24773348e-01, -7.77218364e-01,
         1.09833473e-02],
       [-1.11748109e+00,  2.96796762e-01, -5.44491961e-01,
        -1.83660669e+00],
       [-7.48085052e-01, -5.69087370e-01, -7.77218364e-01,
         5.67791304e-01],
       [-1.24061310e+00,  2.96796762e-01, -6.22067429e-01,
        -2.08970121e+00],
       [-1.32424994e-01, -7.13401392e-01, -4.66916493e-01,
         1.12459926e+00],
       [-3.78689017e-01, -7.13401392e-01, -6.22067429e-01,
         1.12459926e+00],
       [-3.78689017e-01, -5.69087370e-01, -5.44491961e-01,
         6.94338566e-01],
       [ 2.36971041e-01, -5.69087370e-01, -1.56614623e-01,
         8.20885829e-01],
       [-1.11748109e+00,  1.52482740e-01, -6.22067429e-01,
        -1.63413107e+00],
       [ 1.13839030e-01,  1.01836687e+00,  6.19140052e-01,
        -1.12794202e+00],
       [-5.01821029e-01,  2.96796762e-01, -1.56614623e-01,
        -9.50775850e-01],
       [-5.01821029e-01, -2.80459326e-01, -4.66916493e-01,
        -3.96355578e-02],
       [-8.71217064e-01,  1.52482740e-01, -4.66916493e-01,
        -1.20387038e+00],
       [-2.55557005e-01, -5.69087370e-01, -4.66916493e-01,
         7.44957471e-01],
       [ 1.13839030e-01,  1.01836687e+00,  6.19140052e-01,
        -1.12794202e+00],
       [-1.11748109e+00, -7.13401392e-01, -1.08752023e+00,
         1.12459926e+00],
       [ 3.60103053e-01, -2.80459326e-01,  7.61117795e-02,
         3.65315683e-01],
       [-2.55557005e-01,  1.30699492e+00,  5.41564585e-01,
        -1.60882162e+00],
       [-1.32424994e-01,  1.30699492e+00,  6.19140052e-01,
        -1.50758381e+00],
       [-9.94349075e-01, -5.69087370e-01, -9.32369299e-01,
         3.90625136e-01],
       [ 3.93093139e+00,  4.48190340e+00,  4.88579077e+00,
        -1.10263257e+00],
       [-5.01821029e-01, -2.80459326e-01, -4.66916493e-01,
        -3.96355578e-02],
       [-5.01821029e-01, -2.80459326e-01, -4.66916493e-01,
        -3.96355578e-02],
       [-1.32424994e-01, -5.69087370e-01, -3.89341026e-01,
         7.70266924e-01],
       [-7.48085052e-01, -2.80459326e-01, -6.22067429e-01,
        -2.67420631e-01],
       [-9.29298201e-03, -5.69087370e-01, -3.11765558e-01,
         7.95576377e-01],
       [-3.78689017e-01,  2.31719307e+00,  1.00701739e+00,
        -2.19093903e+00],
       [ 6.06367076e-01, -7.13401392e-01, -1.46368807e-03,
         1.12459926e+00],
       [ 1.96081920e+00, -4.24773348e-01,  1.00701739e+00,
         8.20885829e-01],
       [-5.01821029e-01, -5.69087370e-01, -6.22067429e-01,
         6.69029114e-01],
       [ 3.60103053e-01, -7.13401392e-01, -1.56614623e-01,
         1.12459926e+00],
       [-6.24953040e-01, -4.24773348e-01, -6.22067429e-01,
         2.13458968e-01],
       [-3.78689017e-01, -2.80459326e-01, -3.89341026e-01,
         3.62927999e-02],
       [ 4.83235065e-01, -5.69087370e-01, -1.46368807e-03,
         8.46195282e-01],
       [ 2.33021524e+00, -4.24773348e-01,  1.23974379e+00,
         8.46195282e-01],
       [ 2.94587530e+00,  3.18307720e+00,  3.56700782e+00,
        -9.76085302e-01],
       [-8.71217064e-01, -7.13401392e-01, -9.32369299e-01,
         1.12459926e+00],
       [ 1.13839030e-01,  4.41110784e-01,  3.08838182e-01,
        -6.47062419e-01],
       [ 1.13839030e-01,  5.85424807e-01,  3.86413650e-01,
        -7.73609682e-01],
       [ 6.06367076e-01, -5.69087370e-01,  7.61117795e-02,
         8.71504734e-01],
       [-3.78689017e-01, -2.80459326e-01, -3.89341026e-01,
         3.62927999e-02],
       [ 6.06367076e-01,  4.41110784e-01,  6.19140052e-01,
        -3.68658441e-01],
       [-7.48085052e-01,  2.96796762e-01, -3.11765558e-01,
        -1.22917983e+00],
       [ 7.29499088e-01, -7.13401392e-01,  7.61117795e-02,
         1.12459926e+00],
       [-5.01821029e-01, -2.80459326e-01, -4.66916493e-01,
        -3.96355578e-02],
       [ 1.22202713e+00, -5.69087370e-01,  4.63989117e-01,
         9.22123639e-01],
       [-5.01821029e-01, -5.69087370e-01, -6.22067429e-01,
         6.69029114e-01],
       [ 3.60103053e-01, -7.13401392e-01, -1.56614623e-01,
         1.12459926e+00],
       [-7.48085052e-01, -4.24773348e-01, -6.99642896e-01,
         1.12221158e-01],
       [-7.48085052e-01,  7.29738829e-01, -7.90391556e-02,
        -1.68474997e+00],
       [ 6.06367076e-01, -4.24773348e-01,  1.53687247e-01,
         6.43719661e-01],
       [ 9.75763111e-01, -2.80459326e-01,  4.63989117e-01,
         5.17172398e-01]])

In [ ]:
x_test_scl = scl.transform(x_test)

In [ ]:
x_test_scl

array([[-1.32424994e-01,  8.74052851e-01,  3.86413650e-01,
        -1.20387038e+00],
       [-9.29298201e-03, -7.13401392e-01, -3.89341026e-01,
         1.12459926e+00],
       [-7.48085052e-01,  1.01836687e+00,  7.61117795e-02,
        -1.91253505e+00],
       [ 1.13839030e-01, -5.69087370e-01, -2.34190091e-01,
         8.20885829e-01],
       [ 6.06367076e-01,  4.41110784e-01,  6.19140052e-01,
        -3.68658441e-01],
       [-8.71217064e-01,  8.16871823e-03, -5.44491961e-01,
        -9.76085302e-01],
       [-5.01821029e-01,  7.29738829e-01,  7.61117795e-02,
        -1.40634600e+00],
       [ 3.60103053e-01, -1.36145304e-01,  1.53687247e-01,
         1.62840063e-01],
       [-2.55557005e-01, -2.80459326e-01, -3.11765558e-01,
         1.12221158e-01],
       [-3.78689017e-01, -4.24773348e-01, -4.66916493e-01,
         3.40006231e-01],
       [ 3.60103053e-01, -7.13401392e-01, -1.56614623e-01,
         1.12459926e+00],
       [-9.94349075e-01,  5.85424807e-01, -3.11765558e-01,
        -1.91253505e+00],
       [ 1.13839030e-01, -4.24773348e-01, -1.56614623e-01,
         5.17172398e-01],
       [ 3.60103053e-01, -5.69087370e-01, -7.90391556e-02,
         8.46195282e-01],
       [-6.24953040e-01, -7.13401392e-01, -7.77218364e-01,
         1.12459926e+00],
       [-3.78689017e-01, -4.24773348e-01, -4.66916493e-01,
         3.40006231e-01],
       [-2.55557005e-01, -4.24773348e-01, -3.89341026e-01,
         3.90625136e-01],
       [ 1.46829116e+00,  8.16871823e-03,  9.29441923e-01,
         3.14696778e-01],
       [ 6.06367076e-01, -7.13401392e-01, -1.46368807e-03,
         1.12459926e+00],
       [ 1.34515915e+00, -2.80459326e-01,  6.96715520e-01,
         5.93100756e-01],
       [-9.29298201e-03, -7.13401392e-01, -3.89341026e-01,
         1.12459926e+00],
       [-1.32424994e-01,  4.41110784e-01,  1.53687247e-01,
        -7.98919134e-01],
       [-8.71217064e-01, -2.80459326e-01, -6.99642896e-01,
        -3.93967894e-01]])

In [ ]:
y_train

35    1
65    1
53    0
72    1
40    0
75    1
17    1
47    1
60    1
54    0
5     1
74    1
10    1
64    1
42    1
4     1
55    1
67    1
27    0
30    0
13    1
9     1
66    1
71    1
14    1
51    1
38    1
69    0
25    1
32    1
58    1
43    1
36    1
7     1
12    1
49    1
28    1
56    1
39    1
1     1
16    1
52    1
62    1
8     1
20    1
70    1
33    1
41    1
19    1
57    1
21    0
48    1
26    1
Name: Result, dtype: int64

In [ ]:
y_test

11    1
34    1
0     0
15    1
2     1
63    1
29    0
37    1
59    1
22    1
61    1
68    0
73    1
24    1
6     1
46    1
31    1
45    1
44    1
3     1
18    1
23    1
50    1
Name: Result, dtype: int64

In [ ]:
knn= KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn

KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(x_train_scl,y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
y_pred_train = knn.predict(x_train_scl)

In [ ]:
y_pred_test = knn.predict(x_test_scl)

In [ ]:
acc_score_train = accuracy_score(y_pred_train, y_train)

In [ ]:
acc_score_test = accuracy_score(y_pred_test, y_test)

In [ ]:
acc_score_train

1.0

In [ ]:
acc_score_test

0.9565217391304348

In [ ]:
confusion_matrix(y_pred_train, y_train)

array([[ 7,  0],
       [ 0, 46]])

In [ ]:
confusion_matrix(y_pred_test,y_test)

array([[ 2,  0],
       [ 1, 20]])

In [ ]:
print(classification_report(y_pred_train,y_train))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       1.00      1.00      1.00        46

    accuracy                           1.00        53
   macro avg       1.00      1.00      1.00        53
weighted avg       1.00      1.00      1.00        53

In [ ]:
print(classification_report(y_pred_test,y_test))

              precision    recall  f1-score   support

           0       0.67      1.00      0.80         2
           1       1.00      0.95      0.98        21

    accuracy                           0.96        23
   macro avg       0.83      0.98      0.89        23
weighted avg       0.97      0.96      0.96        23